
/*== Fuentes del proyecto ==*/

/*Bitcount*/
@font-face {
    font-family: 'Bitcout';
    src: url('fonts/Bitcount/BitcountPropSingle.ttf') format('truetype');
    font-weight: 400;
}

/*Orbitron*/
@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron/Orbitron-VariableFont.ttf') format('truetype');
    font-weight: 400;
}

/*Roboto*/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont.ttf') format('truetype');
    font-weight: 400;
}

/*  */
body {
    margin: 0;
    padding: 0;
    background: #0a0a0a;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}